<h2 class="text-center  shadow-sm rounded pt-5">About Us</h2>
<br />
<br />
<div>
    <div>
        A car rental, hire car or car hire agency is a company that rents automobiles for short periods of time to the public, generally ranging from a few hours to a few weeks.
    </div>
    <br />
    <h5>Vision</h5>
    <div>We will be the first choice brand for vehicle and equipment rental / leasing and total mobility solutions. </div>
    <br />
    <h5>Mission</h5>
    <div>
        A commitment to great value for customers:

        We provide great service at a great price that clearly demonstrates to our customers that they received the best car rental value. We use new ideas and innovations to enhance service and increase customer satisfaction.
    </div>
</div> 