<h2 class="text-center  shadow-sm rounded pt-5">Help</h2>
<br />
<br />
<div>
    <div>
        We have various branches accross the country. Please contact us using the following information between 08:00 to 16:30 Monday to Friday. 
    </div>
    <br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Staff</th>
                <th>Staff Email</th>
                <th>Contact No</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mr Gert Dean</td>
                <td>deang@carrental.co.za</td>
                <td>011 897 9090</td>
                <td>Johannesburg</td>
            </tr>
            <tr>
                <td>Mrs Marry Bean</td>
                <td>beanm@carental.co.za</td>
                <td>058 897 9090</td>
                <td>Phuthaditjhaba</td>
            </tr>
            <tr>
                <td>Ms Jack Jackie</td>
                <td>jackiej@carental.co.za</td>
                <td>051 897 9090</td>
                <td>Bloemfontein</td>
            </tr>
        </tbody>
    </table>
    
</div> 