@{
    ViewBag.Title = "Home page";
}
<div>
    <!-- Title-->
    <div id="Title" class="bg-secondary pt-4 pb-4 mt-1 rounded-2">
        <div class="text-center text-light text-sm-start text-md-center display-4">Car Rental Zone</div>
    </div><!-- Title end -->
     <br />
    <br />
    <!-- **** Definition **** -->
    <div id="Definition">
        <h3 class="fw-bold">What are cars?</h3>
        <div>
            A car is a vehicle that has wheels, carries a small number of passengers, and is moved by an engine or a motor. Cars are also called automobiles or motor vehicles.
        </div>
        <div>
            Why are cars so important? For over a hundred years, the private car has transformed modern society by providing independence and freedom of mobility.
        </div>
        <div>
            An automobile is a self-propelled motor vehicle intended for passenger transportation on land. It usually has four wheels and an internal combustion engine fueled most often by gasoline, a liquid petroleum product
        </div>

    </div> <!-- Definition end -->
    <!-- **** Categories of cars **** -->
    <br />
    <div id="TypesOfCars">
        <h4>Different categories of cars</h4>
        <div class="row">
            <div class="col-4">
                <div class="bg-light m-1 pb-2">
                   <img src="~/images/bmw.jpeg" class="img-thumbnail w-80 h-80" />
                    <h5 class="fst-italic">BMW Car</h5>
                    <p>
                        BMW is known for producing vehicles packed with technology, high levels of comfort, powertrain refinement, and fuel efficiency.
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="bg-light m-1 pb-2">
                    <img src="~/images/vw.jpg" class="img-thumbnail w-80 h-80" />
                    <h5 class="fst-italic">VW Car</h5>
                    <p>
                        Volkswagen is a trusted automotive supplier of both passenger and commercial vehicles in SA. View the latest VW models and prices here.
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="bg-light m-1 pb-2">
                    <img src="~/images/toyota1.jpeg" class="img-thumbnail w-80 h-80" />
                    <h5 class="fst-italic">Toyota Car</h5>
                    <p>
                        Toyota has car models that offer something for everyone. Whether you're looking for a compact car for fun sports car, or a family vehicle.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- Types of cars end -->
